* {
   background-color: hsl(249, 87%, 50%);
   margin: 50;
}

h1 {
    text-align: center;
    margin-top: 30px ;
    margin: auto;
    width: 1200px;
    background: #ff002b;
    padding: 3%;
    border-radius: 10px;
    } 

.listaPokemones{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: large;
   border-radius: 10px;
   }    

select,option{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: large;
   border-radius: 10px;
   background-color: rgb(248, 252, 27);
   }   


.boton_personalizado{
   font-family: 'Times New Roman', Times, serif;
   font-size: x-large;
   position: center;
   color: #ffffff;
   border-radius: 8px;
   background-color: #ff002b;
}





 