* {
   background-color: rgb(87, 241, 241);
   margin: 50;
}

h1 {
    text-align: center;
    margin-top: 30px ;
    margin: auto;
    width: 1200px;
    background: #ff002b;
    } 

select{
   font-family: Georgia, 'Times New Roman', Times, serif;
   
   
}   





 